@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

.btn {
    padding: 20px 40px;
    text-align: center;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
}

section {
    max-width: 1100px;
    margin: 60px auto;
}

.text-center {
    text-align: center;
}

header {
    max-width: 1480px;
    margin: 0 auto;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-color: #fff5ee;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.logo span {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 50px 200px;
}

nav .logo {
    font-size: 35px;
    font-weight: 800;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.banner {
    padding: 0 100px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
}

.banner-container span {
    color: #FD6E0A;
}

.banner-container h4 {
    font-size: 35px;
    font-weight: 500;
}

.banner-container h1 {
    font-size: 70px;
    font-weight: 800;
}

.banner-container p {
    font-size: 16px;
    font-weight: normal;
}

.banner-button button {
    margin: 20px 20px 0 0;
}

.banner img {
    width: 500px;
}

/* About Me Section */

.about {
    /* max-width: 1000px;
    margin: 30px auto; */
    background-color: #FFF8F3;
}

.about-content {
    padding: 50px 100px 100px 100px;
}

.about-content h2 {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    text-decoration: underline;
}

.about-content p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.about-content .info {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: #ffe5d4;
}

/* What I Do Section */

.expartis-content {
    text-align: center;
    padding: 0 50px;
}

.expartis-content p {
    padding: 10px 70px;
}

.expartis-content h2 {
    text-decoration: underline;
    padding: 5px 0;
}

.card-section {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    padding: 28px;
    /* border: 1px solid #000; */
    box-shadow: 0 5px 15px #ffeee1;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    font-size: 16px;
    line-height: 30px;
}

/* Resume Section */

.resume {
    padding: 30px 0;
}

.resume h2 {
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}

.resume-content {
    display: flex;
    gap: 20px;
}

.resume-details {
    padding: 25px;
    box-shadow: 0 5px 15px #ffeee1;
}

.resume-details h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.resume-details h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.resume-details span {
    font-weight: 500;
    margin-bottom: 5px;
}

.resume-details p {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.resume-details hr {
    margin: 20px 0;
}

.resume button {
    margin: 50px 0;
}

footer {
    background-color: #fff5ee;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    gap: 100px;
}

.footer-colamn h2 {
    margin-bottom: 20px;
}

.footer-colamn p {
    font-size: 16px;
    margin: 40px 0;
}

.footer-colamn img {
    width: 30px;
    margin-right: 20px;
}

.footer-colamn {
    width: 50%;
}

footer input[type="text"],
input[type="email"],
textarea {

    border: none;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 20px;
    outline: none;
    font-size: 18px;
}

.my-photo img {
    margin: 50px 0;
    width: 160px;
}

.hide {
    display: none;
}


/* Responsive */

@media screen and (max-width: 480px) {

    .btn {
        padding: 10px 15px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        
    }

    .banner-container {
        gap: 10px;
        width: auto;
        height: auto;
        padding: 0 20px;
    }

    .banner {
        padding: 0;
        flex-direction: column;
        gap: 30px;
    }

    .banner-container h1 {
        font-size: 50px;
    }

    .banner img {
        width: 45vh;
        margin-left: 20%;
    }

    .resume-content,
    .card-section,
    .info {
        flex-direction: column;
    }

    .card {
        border-top: 1px dashed #ffd8d8;
        border-bottom: 1px dashed #ffd8d8;
        box-shadow: none;
    }

    .about-content,
    .expartis-content,
    .expartis-content p,
    footer {
        padding: 20px 10px;
    }

    .info {
        gap: 20px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 0px;
    }

    .footer-colamn {
        width: auto;
        padding: 0px 20px 20px 20px;

    }

    footer input[type="text"],
    input[type="email"],
    textarea {
        width: calc(100% - 44px);
    }


}